{% extends 'base.html.twig' %}

{% block title %}Hello CarnetDeRouteController!{% endblock %}

{% block body %}
<section class="carnet_de_route">
    <div class="wrapper">
        <p>efiu</p>
    </div>
</section>
{% endblock %}
