{% extends 'base.html.twig' %}

{% block title %}Carnet de route{% endblock %}

{% block body %}
<section class="carnet_de_route pt-4 pb-4">
    <div class="wrapper">
        <form method="post" accept-charset="UTF-8" class="searchLieux">
            <input type="text" />
            <button type="submit">Rechercher</button>
        </form>
    </div>
</section>
{% endblock %}

{% block javascriptsfooter %}
<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=d4641da7fb747a86afa6e13fdfb0ed0e"></script>
<script src=" {{ asset('./js/listeRoute.js') }} "></script>

{% endblock %}
