.searchLieux{
    display: flex;
    justify-content: center;
    background: #FFF;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.116);
    border-radius: 50px;
    width: 500px;
    margin: 0 auto;
}

.searchLieux input{
    flex: 1;
    outline: none;
    border: none;
    padding: 10px;
}

.searchLieux button{
    background-color: #fff;
    border: none;
    border-left: 1px solid black;
}