.searchLieux{
    display: flex;
    justify-content: center;
    background: #FFF;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.116);
    width: 500px;
    padding: 8px;
    margin: 0 auto;
    max-width: 100%;
    border: 1px solid rgb(190, 190, 190);
}

.searchLieux input{
    flex: 1;
    outline: blue;
    border: none;
    padding: 8px;
    font-weight: bold;
}

.searchLieux button{
    background-color: #fff;
    border: none;
    padding: 8px 15px;
}