@import './root.css';

.searchLieux{
    display: flex;
    justify-content: center;
    background: #FFF;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.116);
    width: 500px;
    padding: 8px;
    margin: 0 auto;
    max-width: 100%;
    border: 1px solid rgb(190, 190, 190);
}

.searchLieux input{
    flex: 1;
    outline: 1px blue;
    border: none;
    padding: 8px;
    font-weight: bold;
}

.searchLieux button{
    background-color: #fff;
    border: none;
    padding: 8px 15px;
}

input:focus .searchLieux{
   border: 1px solid blue!important;
}

.card_lieu{
    margin-right: 15px;
}

.lieu{
    width: 100%;
    display: flex;
    overflow: hidden;
}

.lieux h3{
    color: var(--text-blue-dark);
}

.lieu a{
    color: black;
    width: 150px;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: center;
}


.card_lieu img{
    width: 150px;
    border-radius: 5px;
    align-items: center;
}