.searchLieux{
    display: flex;
    justify-content: center;
    background: blue;
    width: 500px;
    margin: 0 auto;
}

.searchLieux input{
    flex: 1;
    outline: none;
    border: none;
}

.searchLieux button{
    background-color: #fff;
    border: none;
}