.searchLieux{
    display: flex;
    justify-content: center;
    background: red;
    width: 500px;
    margin: 0 auto;
}

.searchLieux input{
    flex: 1;
    outline: none;
}

.searchLieux button{
    background-color: none;
}