a{
    text-decoration: none!important;
    color: black!important;
}

ul{
    list-style: none;
}

.nav{
    display: flex;
    justify-content: space-between;
}

.nav_left ul, .nav_right ul{
    display: flex;
}

.nav_left ul > li > a, .nav_right ul > li > a{
    margin-right: 20px;
}
