a{
    text-decoration: none!important;
    color: black!important;
}

.nav{
    background-color: rgba(255, 255, 255, 0.295);
    position: fixed;
    width: 100%;
    top: 0;
}

.nav_option > a{
    font-size: 12px!important;
}

.bg_img{
    background-image: url('https://www.letudiant.fr/static/uploads/mediatheque/ETU_ETU/1/7/1565617-seoul-ta-min-ho-shutterstock-766x438.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 80vh;
    width: 100%;
    display: flex;
    align-items: center;
}

.intro_content{
    margin: auto;
}