:root{
    --border-light: rgb(172, 172, 172);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*RESET*/

a{
    text-decoration: none!important;
    color: black!important;
}

ul{
    list-style: none;
}


/*NAV*/

.nav{
    border-bottom: 1px solid var(--border-light);
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
}

.nav_left > ul, .nav_right > ul{
    display: flex;
}