<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome !{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <!-- CSS only -->

            <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.2/css/all.css" integrity="sha384-vSIIfh2YWi9wW0r9iZe7RJPrKwp6bG+s9QZMoITbCckVJqGCCRhc+ccxNcdpHuYu" crossorigin="anonymous">
            <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

        {% block javascripts %}{% endblock %}
    </head>
    <body>

      <nav class="nav">
            <div class="nav_container container">
                <div class="nav_left">
                    <div class="nav_option">
                        <a href="">
                            <i class="fas fa-home" style="color: blue" ></i>
                            HOME
                        </a>
                    </div>
                </div>
                <div class="nav_right">

                </div>
            </div>
      </nav>


        {% block body %}{% endblock %}


        {% block javascriptsfooter %}
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
        {% endblock %}
    </body>
</html>
