{% extends 'base.html.twig' %}
{% block title %}Korean Titile site{% endblock %}



{% block body %}

<section class="home_presentation wrapper">
    <div class="d-flex justify-content-between">
        <div class="title_section">
            <p class="tall_title">Découvrez</p>
            <p class="small_title">La Corée Du Sud <span>autrement</span></p>
        </div>
        <div class="timezone">
            <span class="heures">{{ h }}</span>
            <span class="h">H</span>
            <span class="minutes">{{ i }}</span>
        </div>
    </div>
    <div class="home_content">
        <p class="mt-3">La corée du sud est un pays regorgant de surprises , d’admiration  devant les paysages de
            cartes postals et d’étonnant lieux atipique.
            La tranquilité, la facilité de transport et la sécurité font de la corée une destination
            idéale pour un dépaysement total. </p>
    </div>
    <h3 class="mt-4 live_weather">Meteo en direct</h3>
    <div class="meteo mt-3">
        <div class="d-flex" id="meteo"></div>
    </div>
</section>

<section class="home_carnet_de_route mt-5 pt-5">
    <div class="wrapper">
        <div class="row">
            <div class="title_section col-md-8">
                <p class="tall_title">Définir votre</p>
                <p class="small_title">carnet de route</p>
            </div>
            <div class="col-md-4">
                <img  src="{{ asset('image/kakaomap.png') }}" alt="">
            </div>
        </div>
    </div>
</section>


{% endblock %}
