{% extends 'base.html.twig' %}
{% block title %}Korean Titile site{% endblock %}



{% block body %}

<section class="home_presentation">
    <div class="title_section">
        <p class="tall_title">La Corée</p>
        <p class="small_title">en grand</p>
    </div>
</section>

{% endblock %}
