{% extends 'base.html.twig' %}
{% block title %}Korean Titile site{% endblock %}



{% block body %}
    <p>Bonjour</p>
{% endblock %}




{% block javascriptsfooter %}
    <script type="text/javascript">
        alert('Bonjour')
    </script>
{% endblock %}